//
// GENERALS
// ----------------------------------------------

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-bg-body;
    font-family: $font-family;
}

#wrapper {
    width: 90rem;
}

#wrapper .container {
    max-width: 100%;
    display: block;
}

.daniel,
.jonathan,
.kira,
.jeanette,
.patrick {
    padding: 2.5rem 1.875rem 1.875rem 2.5rem;
    height: 100%;
    border-radius: .75rem;
    -webkit-border-radius: .75rem;
    -moz-border-radius: .75rem;
    -ms-border-radius: .75rem;
    -o-border-radius: .75rem;

    & .info {
        display: inline-block;
        vertical-align: middle;
        margin-left: .625rem;
    }
}


.testimonials1 {
    padding-bottom: 1.25rem;
}

.daniel {
    background-color: $color-bg-daniel;
}

.jonathan {
    background-color: $color-bg-jonathan;
}

.kira,
.jeanette {
    background-color: $color-bg-kira;
}

.patrick {
    background-color: $color-bg-patrick;
}

img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.daniel {
    background-image: url('../images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-size: 9.375rem;
    background-position-x: 42vh;
}

.attribution {
    margin-top: .625rem;
    text-align: center;
    
    a {
        text-decoration: none;
        color: $color-bg-daniel;
        font-weight: 700;
    }
}



