//
// VARIABLES / COLORS
// ----------------------------------------------

$color-bg-body: hsl(0, 0%, 89%);

$color-bg-daniel: hsl(263, 55%, 52%);
$color-bg-jonathan: hsl(217, 19%, 35%);
$color-bg-kira: hsl(0, 0%, 100%);
$color-bg-patrick: hsl(219, 29%, 14%);

$color-light: hsl(210, 46%, 95%);
$color-grey: hsl(0, 0%, 81%);
$color-dark-grey: hsl(217, 19%, 35%);
$color-dark: hsl(219, 29%, 14%);

//
// VARIABLES / FONT
// ----------------------------------------------

$font-family: 'Manrope', sans-serif;